<div class="horizontal-scroll">
  <table class="table" st-table="allWords" st-safe-src="allWords1">
    <thead>
    <tr>
      <td></td>
      <td><input st-search="word" placeholder="Search Word" class="input-sm form-control search-input"
                 type="search"/></td>
      <td><button type="button" class="btn btn-info" ng-click="addword()" >Add Word</button></td>
      <td><button type="button" class="btn btn-warning" ng-if="showOption" ng-click="deleteWord()">Delete Word</button></td>
    </tr>  
    <tr class="sortable">
      <th st-sort-default="true" st-sort="id">#</th>
      <th st-sort="word">Word</th>
      <th st-sort="education_type">Education Type</th>
      <th st-sort="account_type">Account Type</th>
      <th st-sort="level">Level</th>
      <th st-sort="correct">Correct</th>
      <th st-sort="wrong">Wrong</th>
      <th st-sort="total">Total</th>
      <th><button ng-click="selectallword()" type="button" class="btn btn-primary">{{select_text}}</button></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="word in allWords">
      <td>{{word.id}}</td>
      <td>{{word.word}}.{{word.format}}</td>
      <td>{{word.education_type}}</td>
      <td>{{word.account_type}}</td>
      <td>{{word.level}}</td>
      <td>{{word.amount_correct}}</td>
      <td>{{word.amount_wrong}}</td>
      <td>{{word.amount_total}}</td>
      <td><input type="checkbox" ng-model="word.selected" ng-change="onCheckClickWord()"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="12" class="text-center">
        <div st-pagination="" st-items-by-page="tablePageSize" st-displayed-pages="20"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>