<div class="content-top clearfix" style="padding-bottom:0px">
  <h3 class="al-title">{{ activePageTitle }}</h3>

  <!--<ul class="breadcrumb al-breadcrumb">
    <li>
      <a href="#/dashboard">Home</a></li>
    <li>{{ activePageTitle }}</li>
  </ul>-->
</div>