<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span>Add Sponsor</span>
  </div>
  <div style="padding:20px">
        <input type="text" class="form-control with-primary-addon" placeholder="Sponsor Name" aria-describedby="basic-addon1" ng-model="sponsor.name">
        <br>
        <input ng-model="photo" id="file_image"
        onchange="angular.element(this).scope().file_changed(this)"
        type="file" accept="image/*" />
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-info" ng-click="onClickOK()">OK</button>
  </div>
</div>
