<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span>Add Word</span>
  </div>
  <div class="modal-body text-left">Reminder: Reload page to see changes</div>
  <div style="padding:20px">
        
        <input type="file" id="file" name="file" accept="audio/*" onchange="angular.element(this).scope().file_changed(this)" multiple/>
        <br>
        <span>Education Type : <select ng-model="word.education_type" ng-options="x for x in edu_type">
        </select></span>
        <br>
        <br>
        <span>Account Type : <select ng-model="word.account_type" ng-options="x for x in account_type">
        </select></span>
        <br>
        <br>
        <span>In-game Level : <select ng-model="word.level" ng-options="x for x in levels">
        </select></span>
        <br><br>
        <input type="text" class="form-control with-primary-addon" placeholder="Word Name" aria-describedby="basic-addon1" ng-model="word.word">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-info" ng-click="onClickOK()">OK</button>
  </div>
</div>
