<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> {{modal_title}}</span>
  </div>
  <div class="modal-body text-left" style="white-space: pre;">{{modal_text}}</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-info" ng-click="onClickOK()">OK</button>
  </div>
</div>
