<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>Name</th>
      <th>IC</th>
      <th>Email</th>
      <th>State</th>
      <th>Education Type</th>
      <th>Account Type</th>
      <th><button ng-click="selectall()" type="button" class="btn btn-primary">{{select_text}}</button></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in secondary_state">
      <td class="table-id">{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.ic}}</td>
      <td><a class="email-link" ng-href="mailto:{{student.email}}">{{student.email}}</a></td>
      <td>{{student.state}}</td>
      <td>{{student.education_type}}</td>
      <td>{{student.account_type}}</td>
      <td><input type="checkbox" ng-model="student.selected" ng-change="onCheckClick()"></td>
    </tr>
    </tbody>
  </table>
</div>