<div class="widgets">

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div ba-panel ba-panel-title="Primary Preliminary" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/main/widgets/primary_pre.html"></div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <div ba-panel ba-panel-title="Secondary Preliminary" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/main/widgets/secondary_pre.html"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div ba-panel ba-panel-title="Primary State" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/main/widgets/primary_state.html"></div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
      <div ba-panel ba-panel-title="Secondary State" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/main/widgets/secondary_state.html"></div>
      </div>
    </div>
  </div>

</div>