<div class="modal-content">
  <div class="modal-header bg-danger">
    <i class="ion-information-circled modal-icon"></i><span>  Login</span>
  </div>
  <div style="padding:20px">
        <input type="text" class="form-control with-primary-addon" placeholder="Username" aria-describedby="basic-addon1" ng-model="login.name">
        <br>
        <input type="text" class="form-control with-primary-addon" placeholder="Password" aria-describedby="basic-addon1" ng-model="login.password">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="onLogin()">Login</button>
  </div>
</div>
