<div class="horizontal-scroll">
  <table class="table" st-table="allStudents" st-safe-src="allStudents1">
    <thead>
    <tr ng-if="showOptionStudent">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><button ng-click="sendecertificate()" type="button" class="btn btn-info">Send E-Certificate</button></td>
      <td><button ng-click="selectstate()" type="button" class="btn btn-info">Select for State</button></td>
      <td><button ng-click="selectfinal()" type="button" class="btn btn-info">Select for Final</button></td>
    </tr>  
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="name">Name</th>
      <th st-sort="ic">IC</th>
      <th st-sort="email">Email</th>
      <th st-sort="state">State</th>
      <th st-sort="education_type">Education Type</th>
      <th st-sort="account_type">Account Type</th>
      <th><button ng-click="selectall()" type="button" class="btn btn-primary">{{select_text}}</button></th>
      <th>Answer/Time L1</th>
      <th>Answer/Time L2</th>
      <th>Answer/Time L3</th>
    </tr>
    <!--<tr>
      <th></th>
      <th><input st-search="Name" placeholder="Search Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="ic" placeholder="Search IC" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
      </th>
      <th></th>
    </tr>-->
    </thead>
    <tbody>
    <tr ng-repeat="student in allStudents">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.ic}}</td>
      <td><a class="email-link" ng-href="mailto:{{student.email}}">{{student.email}}</a></td>
      <td>{{student.state}}</td>
      <td>{{student.education_type}}</td>
      <td>{{student.account_type}}</td>
      <td><input type="checkbox" ng-model="student.selected" ng-change="onCheckClick()"></td>
      <td>{{student.session.level1_words}}<br>{{student.session.level1_time}}</td>
      <td>{{student.session.level2_words}}<br>{{student.session.level2_time}}</td>
      <td>{{student.session.level3_words}}<br>{{student.session.level3_time}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="8" class="text-center">
        <div st-pagination="" st-items-by-page="tablePageSize" st-displayed-pages="20"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>