<div class="horizontal-scroll">
  <table class="table" st-table="allSponsor" st-safe-src="allSponsor1">
    <thead>
    <tr>
      <td></td>
      <td><button type="button" class="btn btn-info" ng-click="addsponsor()" >Add Sponsor</button></td>
      <td><button type="button" class="btn btn-warning" ng-if="showOption">Delete Sponsor</button></td>
      
    </tr>  
    <tr class="sortable">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="name">Name</th>
      <th st-sort="file_path">Image Path</th>
      <th><button ng-click="selectall()" type="button" class="btn btn-primary">{{select_text}}</button></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sponsor in allSponsor">
      <td class="table-id">{{sponsor.id}}</td>
      <td>{{sponsor.name}}</td>
      <td>{{sponsor.image}}</td>
      <td><input type="checkbox" ng-model="sponsor.selected" ng-change="onCheckClick()"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>